DEBUG=true

DB_HOST=lm-balances-postgres
DB_NAME=db
DB_USERNAME=admin
DB_PASSWORD=admin
SHARED_JWT_SECRET_B64=x0dOZsgA4P1UiV57Fja7G+1KZhOjbYKNdqlpL0pqA1mqAfhjPBb+HB6Ubss1IA8syScnFdNT/XMbYYkleRzFMg==
SHARED_JWT_ALGO=HS256